@import "../../../styles.scss";

.row {
  height: 80vh;
}
.form-control,
.form-controlMDP {
  background-color: $green;
  border-radius: 36px;
  width: 250px;
  height: 71px;
  opacity: 1;

  @include media-breakpoint-up(xl) {
    width: 800px;
  }

  @include media-breakpoint-up(sm) {
    width: 500px;
  }

  @include media-breakpoint-up(lg) {
    width: 900px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnSubmit {
  width: 200px;
  background-color: $purple;
  height: 71px;
  border: none;
  border-radius: 36px;
  padding: 0.5rem 3rem;
  color: $white;
}

.linkNoCompte {
  opacity: 0.7;
  &:hover {
    color: purple;
  }
}
