@import '../../../styles.scss';

.header {
  margin-top: 1rem;
  background-color: $header-background;
  height: 6.25rem;
  border-radius: 50px;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;

  @include media-breakpoint-up(md) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.header-logo {
  img {
    width: 10rem;
  }
}

.header-link {
  a {
    color: $black;

    &:first-child {
      margin-right: 1rem;

      @include media-breakpoint-up(md) {
        margin-right: 2rem;
      }
    }
  }
}
