<div class="sidebar float-start vh-100">
  <ul>
    <li class="mb-5" style="margin-top: 7rem">
      <div class="myBuble rounded-circle border">
        <h3><i class="bi bi-envelope-plus"></i></h3>
      </div>
    </li>
    <li class="mb-5 mt-3">
      <div class="myBuble rounded-circle border">
        <h3><i class="bi bi-envelope-plus"></i></h3>
      </div>
    </li>
    <li class="mb-5 mt-3">
      <div class="myBuble rounded-circle border">
        <h3><i class="bi bi-envelope-plus"></i></h3>
      </div>
    </li>
    <li class="mb-5 mt-3">
      <div class="myBuble rounded-circle border">
        <h3><i class="bi bi-envelope-plus"></i></h3>
      </div>
    </li>
    <li class="mb-5 mt-3">
      <div class="myBuble rounded-circle border">
        <h3><i class="bi bi-envelope-plus"></i></h3>
      </div>
    </li>
    <li class="mt-5">
      <h3><i class="bi bi-gear-wide"></i></h3>
    </li>
  </ul>
</div>

<div class="test vh-100 ps-2">
  <tr *ngFor="let number of numbers">
    <div class="card mb-1">
      <h5 class="ms-3"><i class="bi bi-envelope-fill"></i></h5>
    </div>
  </tr>
</div>
