.form-control {
  background-color: #e6fff7;
  border-radius: 36px;
  text-align: left;
  padding: 0.8rem;
}

.btn {
  background-color: #9a97ff;
  box-shadow: 0px 6px 17px #00000075;
  border-radius: 36px;
  width: 301px;
  height: 71px;
}
