<app-final-header></app-final-header>
<div class="rowSubs d-flex align-items-center justify-content-center">
  <div class="form">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="name mb-3 pt-3">
            <input
              class="form-control"
              type="text"
              id="prenom"
              placeholder="Prénom"
              required
            />
          </div>
        </div>
        <div class="name col-12 col-md-6">
          <div class="mb-3 pt-3">
            <input
              type="text"
              class="form-control"
              placeholder="Nom"
              id="nom"
              required
            />
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="email mb-3 pt-3">
            <input
              type="email"
              class="form-control"
              placeholder="E-mail"
              id="mail"
              required
            />
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="email mb-3 pt-3">
            <input
              (keyup)="CheckStrengthPassword($event)"
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Enter password"
              required
            />
            <small class="help-block" id="password-text"></small>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="mb-3 pt-3 text-center">
            <button
              [disabled]="!none"
              (click)="Nope()"
              type="submit"
              class="btn mt-3"
            >
              S'incscrire
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
