@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

$green-title: #3c885c;
$black: #517066;
$purple: #9caef7;
$blue: #e6fff7;
$white: #fffaf0;
$header-background: #e6fff7;
$green: #e6fff7;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
